{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Mi CV">
  <meta name="author" content="Jose Aldunce">

  <title>Invoice - PENTA Financiero</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

 
  

</head>

<body>
  <nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand navv" href="#">
    <img src="{% static 'img/logo.png' %}" alt="PENTA FINANCIERO">
    </a>
  </nav>
  
  </div>
    {% block content %}    
    {% endblock content %}
  </div>

 

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  

</body>

</html>
