{% extends "saveInvoices/base.html" %}
<!-- two tables for each XML archive -->
<!-- one for the information, other for the detail -->
{% block content %}

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    FilterBy
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for company in compa %}
      <a class="dropdown-item" href="#">{{company.razonSocial}}</a>    
    {% endfor %}
    
    
  </div>
</div>

{% endblock content %}