{% extends "saveInvoices/base.html" %}
<!-- two tables for each XML archive -->
<!-- one for the information, other for the detail -->
{% block content %}

<h3> invoices emitted by Company A - ID: 111.111-6</h3>
{% for dte in dtes %}
<!-- filter only company with ID 111.111-6 -->
{% if dte.emisorID.rut == '111.111-6' %}
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Company</th>
      <th scope="col">ID</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Emitted by: {{dte.emisorID.razonSocial}}  </td>
      <td>{{dte.emisorID.rut}}</td>
      <td>{{dte.dteTipo}}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Recieved by: {{dte.receptorID.razonSocial}} </td>
      <td>{{dte.receptorID.rut}}</td>
      <td>Date Created:  {{dte.dteEmision}}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td>Folio {{dte.dteFolio}}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Service / Product </th>
      <th scope="col"> Value </th>
      <th scope="col">IVA</th>
    </tr>
  </thead>
    <tbody>
      {% for detalle in deta  %}
      {% if dte == detalle.dte %}
        <tr>
          <th scope="row"></th>
          <td>{{detalle.txt}}</td>
          <td>{{detalle.monto}}</td>
          <td>{{detalle.iva}}</td>      
        </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <br><hr><br>
{% endif %}
{% endfor %}
{% endblock content %}